/*--------------------------------------*/
/*css reset*/
/*--------------------------------------*/
* {
  margin: 0;
  padding:0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fff;
  color:#555;
  font-family: 'Lato','Arial',sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.clearfix:after {
  content:'';
  clear:both;
  display:table;
}

/*--------------------------------------*/
/*reusable components*/
/*--------------------------------------*/
body {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.2)),to(rgba(0,0,0,0.2)));
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  overflow-x: hidden;
}
.container {
  /*max-width: 1240px;*/
  background-color: #fff;
  margin:0 auto;
}
/*--------------------------------------*/
/*header*/
/*--------------------------------------*/
header {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url(img/hero.jpg);
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero.jpg);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  height:100vh;
  position: relative;
  bord
}

.hero-text-box {
  position: absolute;
  max-width: 1140px;
  top:50%;
  left:10%;
  -webkit-transform: translate(-5%,-50%);
          transform: translate(-5%,-50%);
}

h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-size:250%;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 4px;
}

h2, h3{
  margin-bottom: 20px;
  text-transform: uppercase;
}

header .logo{
  height:100px;
  width:auto;
  float:left;
  margin-top:20px;
  /*margin-left:30px;*/
  position:relative;
  left:5%;
}

.main-nav {
  float:right;
  list-style: none;
  margin:50px 30px auto 30px;
}

/*mobile nav*/
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
.mobile-nav-icon i {
  font-size: 200%;
  color:white;
}

/*sticky navigation bar----------------------------------------------*/
.sticky, .logo-black {
  display:block;
}
.sticky {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:rgba(255,255,255,0.95);
  box-shadow: 0 2px 2px #efefef;
  z-index:9999;
}
.sticky .logo {
  height:60px;
  margin-top: 10px;
}
.sticky .main-nav {
  float:right;
  list-style: none;
  margin:20px 30px auto 30px;
}

.sticky .main-nav a:link,
.sticky .main-nav a:visited{
  padding: 8px 0;
  color: #555;
}

.sticky .logo-white{
    display:none;
}

.logo-black{
    display:none;
}

.sticky .logo-black{
    display:block;
}

.sticky .logo-black:hover {
  cursor: pointer;
}
/*------------------------------------*/

header .main-nav li{
  display:inline-block;
  margin-left:40px;
}
header .main-nav a:link,
header .main-nav a:visited{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

header .main-nav a:active,
header .main-nav a:hover{
  border-bottom: 2px solid #ad5c12;
}
/*--------------------------------------*/
/*a link*/
/*--------------------------------------*/
a:link, a:visited{
  color:#E9862B;
  text-decoration: none;
  border-bottom: 1px solid #E9862B;
  padding-bottom: 5px;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}
a:hover, a:active {
  color:#555;
  border-bottom: 1px solid transparent;
}
/*--------------------------------------*/
/*a link button*/
/*--------------------------------------*/
.btn:link, .btn:visited, input[type=submit]{
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.btn:link, .btn:visited {
  padding: 10px 30px;
  font-weight: 300;
}
.btn-full:link,.btn-full:visited, input[type=submit] {
  background-color:#E9862B;
  color:#fff;
  margin-right: 15px;
}

.btn-ghost:link,.btn-full:link,.btn-ghost:visited,.btn-full:visited {
  border:1px solid #E9862B;
}

.btn-ghost {
  color:#E9862B;
}

.btn:hover, .btn:active, input[type=submit]:hover {
  background-color:#ad5c12;
}
.btn-full:hover, .btn-full:active,.btn-ghost:hover, .btn-ghost:active, input[type=submit]:hover {
  border:1px solid #ad5c12;
}
.btn-ghost:hover, .btn-ghost:active {
  color:#fff;
}
/*--------------------------------------*/
/*section*/
/*--------------------------------------*/
section{
  padding: 30px 50px;
}

.section-features p{
  letter-spacing: 1px;
  line-height: 145%;
}

.section-features .box {
  padding:1%;
}

.fas{
  color:#e67e22;
}
.box p{
  font-size: 90%;
  line-height: 130%;
}
.section-features .long-copy {
  margin-left:15%;
  margin-right:15%;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

h2::after {
  display:block;
  height:2px;
  background-color: #ad5c12;
  content:"";
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
/*-------------------------------------------------------------*/
/*Meals*/
/*-------------------------------------------------------------*/
.section-meals{
  padding:0;
}

.section-meals h2 {
  display:none;
}
.meals-showcase{
  list-style: none;
  width: 100%;
}

.meals-showcase li{
  display:block;
  float: left;
  width: 25%;
}

.meals-showcase figure{
  width:100%;
  margin:0;
  overflow: hidden;
  background-color: #000;
}

.meals-showcase img{
  opacity: 0.7;
  width:100%;
  height:auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.meals-showcase img:hover{
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 1;
}

/*-------------------------------------------------------------*/
/*Steps*/
/*-------------------------------------------------------------*/
.section-steps {
  background-color: #F1F5F7;

  /*clear:left;*/
}
.section-steps .app-screen {
  width: 50%;
  height:auto;
}

.steps-box:first-child {
  text-align:right;
  padding-right:3%;
  margin-top: 1vw;
}

.steps-box:last-child {
  padding-left:3%;
  margin-top: 5vw;
}

.works-step {
  margin-bottom:3vw;
}

.works-step:last-of-type {
  margin-bottom:5vw;
}
.works-step div{
  color: #ad5c12;
  border: 2px solid #ad5c12;
  display:inline-block;
  border-radius: 50%;
  width:2em;
  height:2em;
  text-align: center;
  padding: 5px;
  float:left;
  font-size: 1.5em;
  margin-right:2vw;
  margin-top:-0.5em;
}
.btn-app:link, .btn-app:visited {
  border-bottom: 0;
}
.btn-app img{
  height: 5vw;
  max-height: 50px;
  width: auto;
  margin-right: 10px;

}

/*-------------------------------------------------------------*/
/*Cities*/
/*-------------------------------------------------------------*/
.section-cities img{
  width:100%;
  height:auto;
}

.app-screen {
  margin-bottom: 20px;
}

.icon-small{
  font-size:0.8em;
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #E9862B;
  /*secrets to align text and icons*/
  line-height: 2em;
  vertical-align: middle;
  margin-top: -2px;
  margin-right:10px;
}
/*-------------------------------------------------------------*/
/*testimonials*/
/*-------------------------------------------------------------*/
.section-testimonials {
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(0, 0, 0, 0.8))),url(img/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
  background-size: cover;
  color:#fff;
  background-attachment: fixed;
}

blockquote {
  padding:2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}
blockquote::before {
  content:"\201C";
  font-size:500%;
  display:block;
  position: absolute;
  left: -5px;
  top:-5px;
}
cite {
  font-size:90%;
  margin-top: 25px;
}

cite img{
  height: 40px;
  border-radius: 50%;
  margin-right:10px;
  vertical-align: middle;
}
/*-------------------------------------------------------------*/
/*Plans*/
/*-------------------------------------------------------------*/
.section-plans {
  background-color: #F1F5F7;
}
.plan-box {
    background-color: #Fff;
    border-radius: 5px;
    width:90%;
    margin-left: 5px;
    -webkit-box-shadow: 0 2px 2px #F4F1ED;
            box-shadow: 0 2px 2px #F4F1ED;
}

.plan-box div {
  padding:15px;
  border-bottom: 1px solid #F2F6F3;
}

.plan-box ul{
  list-style: none;
}

.plan-box div:first-child {
   background-color: #FCFCFC;
}

.plan-box div:last-child {
  text-align: center;
  border:0;
}
.plan-box ul li{
    padding:5px 0;
}

.plan-price {
  font-size:300%;
  margin-bottom: 10px;
  font-weight: 100;
  color:#E9862B;
}

.plan-price span{
  font-size:30%;
  font-weight: 300;
}

.plan-price-meals {
  font-size:80%;
}

/*-------------------------------------------------------------*/
/*map*/
/*-------------------------------------------------------------*/
.section-map-form {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
}

.section-map-form .col {
  margin-top: 2px;
  margin-bottom: 2px;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*-------------------------------------------------------------*/
/*Contact Form*/
/*-------------------------------------------------------------*/
.section-form {
  width: 50%;
  height: 100%;
  position: absolute;
  right:0;
  top:0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 10px 10px 10px;
}

.contact-form .row div:first-child {
  text-align: left;
  padding-left: 10%;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type=checkbox] {
  margin: 0 10px 0 0;
}
textarea {
  height: 100px;
}

input[type=submit]{
  padding: 2px 30px;
  font-weight: 300;
}

/*-------------------------------------------------------------*/
/*footer*/
/*-------------------------------------------------------------*/
footer {
  background-color: #111212;
  font-size:0.9em;
  padding: 10px;
}

.footer-nav {
  list-style:none;
  float:left;
}

.social-links {
  list-style:none;
  float:right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration: none;
  border:0px;
  color:#888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited{
  font-size:150%;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
  color:#fff;
}

.fa-facebook:hover {
  color:#3b5998;
}

.fa-twitter-square:hover {
  color:#00aced;
}

.fa-google-plus-square:hover {
  color:#dd4b39;
}

.fa-instagram:hover {
  color:#517fa4;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0px;
}

footer p{
  color:#888;
  text-align: center;
  font-size: 0.8em;
  margin-top:10px;
  letter-spacing: 1px;
}
